body{
    width: 100vw;
    height: 100vh;
    background-color: white;
    animation-name: text;
    animation-duration: 10s;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
}

@keyframes text {
    0%{
        background-color: black;
    }
    20%{
        background-color: red;
    }
    40%{
        background-color: blue;
    }
    60% {
        background-color: yellow;
    }
    80% {
        background-color: green;
    }
    100% {
        background-color: orange;
    }
    
}

li{
    list-style: none;
    margin: 0.5rem;
    padding: 0.5rem;
    
}

li:hover {
    border-bottom: 1px solid palevioletred;
}

a{
    text-decoration: none;
    text-transform: capitalize;
}

@media screen and (min-width: 720px) {
    ul {
        display:flex;
        margin: 0 auto;
        justify-content: center;
    }
}

#animate {
    background-color: blueviolet;
    color: white;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items:center;
    justify-content: center;
    animation-name: anime;
}

@keyframes anime {
    10% {
        margin-left: 1rem;
    }
    50% {
        margin-left: 5rem;
    }
    100% {
        margin-left: 10rem;
    }
}